{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
	.about {
		background-image: url("{% static 'images/heartimage.jpg' %}");
		background-size: fill;
		background-position: center;
	}
</style>
<section class="about py-5">
	<div class="container py-xl-5 py-lg-3">
		<div class="title-section mb-md-5 mb-4">
			<center>
			<h3 class="w3ls-title text-uppercase text-bl font-weight-bold" style="margin-bottom: -20px; margin-top: 20px;">About Us</h3>
			</center>
		</div>
		<hr />

		
		<div>
			<center>
			<h6 class="subheading-w3ls text-uppercase text-bl mb-4">Heart Disease Prediction System</h6>
			</center>
			<p>At our website, our mission is to empower individuals with knowledge and tools to proactively assess their risk of heart disease. We understand the importance of early detection and prevention when it comes to cardiovascular health, and we strive to provide accurate and reliable predictions to promote a heart-healthy lifestyle.

				Our website is designed to assist users in evaluating their risk of heart disease through an easy-to-use and intuitive interface. By leveraging the power of advanced algorithms and machine learning techniques, we analyze various risk factors and medical information to generate personalized predictions.</p>
		</div>


	</div>
	</div>
</section>


{% endblock %}